.form {
	&__input {
		max-width: 100%;
		width: 100%;
		padding: 8px;
		margin-bottom: 20px;
		font-size: inherit;
		font-family: inherit;
		border: 1px solid lightgreen;

		transition: border-color .5s ease-in-out;

		&:focus {
			outline: none;
			border-color: darkgreen;
		}
	}

}
