<div>
  test
</div>
<form (ngSubmit)="onAddClass()">
  <div class="form__group">
    <label for="name">Name</label>
    <input
            type="text"
            id="name"
            class="form-control"
            #nameInput>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-success" type="submit">Voeg de klasgroep toe</button>
      <button class="btn btn-danger" type="button">Annuleren</button>
      <button class="btn btn-primary" type="button">Velden leegmaken</button>
    </div>
  </div>
</form>
