<main class="container">
    <form (ngSubmit)="onAddClass()" class="form">
        <div class="form__group">
            <label for="name">Naam</label>
            <input
                    type="text"
                    id="name"
                    name="name"
                    class="form__input"
                    #nameInput>
        </div>

        <div class="form__group">
            <label for="date">Academiejaar</label>
            <input
                    type="text"
                    id="date"
                    name="date"
                    class="form__input"
                    #dateInput>
        </div>
        <app-button-link
                [label]="'annuleer'"
                [link]="'/teacher/classes'"
                [class]="'is-ghost'"
        ></app-button-link>

        <app-button
                [label]="'Voeg de klasgroep toe'"
                [type]="'submit'"
        ></app-button>

    </form>
</main>
