@import "../../resources/config/colors";
@import "../../resources/config/variables";

.exercise {
	padding: 50px;
	margin: 15px 0;
	background-color: rgba($c-blue,.4);

	&__title {
		margin-bottom: 15px;
	}

	&__content {

	}
}
