@import "../../../resources/config/variables";
@import "../../../resources/config/base";
@import "../../../resources/config/typography";
@import "../../../resources/components/button/button";

.text-teaser {
    display: flex;
    flex-direction: row;
    align-items: center;

    &__heading {
        display: flex;
        flex-direction: row;
        align-items: center;
        border-bottom: 1px solid $ui-light-grey;
    }

    &__title {
        padding: $spacing-m;
    }

    &__date {
        padding: $spacing-m;
    }

    &__link {
        color: $ui-black;
    }
}
