@import "../../../resources/config/variables";
@import "../../../resources/config/colors";
@import "../../../resources/config/base";
@import "../../../resources/config/typography";
@import "../../../resources/components/button/button";

.section {
    &__content {
        /* Positioning */
        /* Display & Box Model */
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        /* Color */
        /* Text */
        /* other */
    }
}
.image-teaser {
    /* Positioning */
    /* Display & Box Model */
    width: calc(50% - 30px);
    margin: 15px;
    /* Color */
    background-color: $ui-medium-grey;
    /* Text */
    text-align: center;
    /* other */

    &__title {
        color: $ui-white;
    }
}
