<div class="container">
    <div class="section">
        <div class="section__heading">
            <h1 class="section__title">
                Klassen
            </h1>
            <a routerLink="createclass">
                Voeg een class toe
            </a>
        </div>
        <div class="section__content">
            <div class="image-teaser" *ngFor="let class of classes">
                <a class="button image-teaser__title">{{class.name}}</a>
            </div>
        </div>
    </div>
</div>
