<app-header-teacher></app-header-teacher>

<main class="page">
    <div class="page__heading row">
        <h1>
            klassen
        </h1>
        <app-button-link
                [label]="'voeg een klas toe'"
                [link]="'/teacher/classes/addclass'"
                [class]="'is-ghost'"
        ></app-button-link>
    </div>

    <div class="page__content">
        <app-class-item
            *ngFor="let classGroupItem of classgroups"
            [classgroup]="classGroupItem"
        ></app-class-item>
    </div>

</main>

<app-footer-teacher></app-footer-teacher>
