<div class="component">
    <div class="row">
        <div class="component__heading">
            <h1 class="component__title">
                klassen
            </h1>
        </div>
        <app-button-link
                [label]="'voeg een klas toe'"
                [link]="'/teacher/classes/addclass'"
                [class]="'is-ghost'"
        ></app-button-link>
    </div>

    <div class="component__content">
        <app-class-item
                *ngFor="let classGroupItem of classgroups"
                [classgroup]="classGroupItem"
        ></app-class-item>
    </div>
</div>
