<div class="component">
    <div class="component__heading row">
        <h1 class="component__title">
            <a class="component__breadcrumb" routerLink="/teacher/courses">vakken</a>
        </h1>
        <app-icon
                [class]="'chevron-right'"
        ></app-icon>
        <h2 class="component__subtitle">
            nieuw vak toevoegen
        </h2>
    </div>

    <div class="component__content">

        <form #addForm="ngForm" class="form panel__body" (ngSubmit)="onAddCourse(addForm)" class="form">
            <div class="form__group">
                <label class="form__label" for="name">Naam</label>
                <input
                        ngModel
                        type="text"
                        id="name"
                        name="name"
                        class="form__input"
                >
            </div>

            <div class="form__group">
                <label class="form__label" for="year">Academiejaar</label>
                <input
                        ngModel
                        type="text"
                        id="year"
                        name="year"
                        class="form__input"
                >
            </div>

            <mat-form-field class="form__group">
                <label class="form__label">Klassen die dit vak volgen</label>
                <mat-select
                    ngModel
                    class=""
                    id="classgroups"
                    name="classgroups"
                    multiple
                >
                    <mat-option
                            class=""
                            *ngFor="let classGroupItem of classgroups"
                            [value]="classGroupItem.name"
                    >
                        {{classGroupItem.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <div class="row">
                <app-button-link
                        [label]="'annuleer'"
                        [link]="'/teacher/courses'"
                        [class]="'is-ghost'"
                ></app-button-link>

                <app-button
                        [label]="'Voeg het vak toe'"
                        [type]="'submit'"
                ></app-button>
            </div>

        </form>
    </div>
</div>
