@import "../../../../resources/config/colors";
@import "../../../../resources/config/variables";

.class-item {
	position: relative;
	display: inline-block;
	width: calc(50% - 30px);
	border: 1px solid $c-purple;
	border-radius: 10px;
	color: $ui-black;
	margin: 10px;
	background-color: transparent;
	text-decoration: none;

	&:hover {
		border: 2px solid $c-purple;
	}

	&__menu {
		position: absolute;
		top: 15px;
		right: 15px;
	}

	&__title {
		text-align: center;
		padding: 20px 0;
		margin: 0 20px;
		font-size: 30px;
		border-bottom: 1px solid $c-purple;
	}

	&__content {
		padding: 10px 20px ;
	}

	&__date {
		flex-grow: 1;
	}
}
