<a *ngIf="classgroup" class="item" routerLink="/teacher/classes/detail/{{classgroup.id}}">

  <div class="item__menu">
    <app-icon
      [class]="'menu'"
    ></app-icon>
  </div>

  <div class="item__title">
    {{ classgroup.name }}
  </div>
  <div class="item__content row">
    <div class="item__full">
      {{ classgroup.date }}
    </div>
    <div class="row">
      <app-icon
              [class]="'person'"
      ></app-icon>
      <div *ngIf="(students$ | async) as students">
        {{students.length}}
      </div>
    </div>
  </div>

</a>
