
.class-teaser {
	display: inline-block;
	width: calc(50% - 30px);
	border: 1px solid #9E1779;
	border-radius: 10px;
	color: #9E1779;
	margin: 10px;
	background-color: transparent;

	&__image {
		width: 100%;
		max-height: 100px;
	}

	&__text {
		text-align: center;
		padding: 15px;
	}
}
