<section class="crossword mdl-grid" (click)="onGridClick()">
  <div class="mdl-cell mdl-cell--middle mdl-cell--12-col">
    <table class="grid" *ngIf="crossword" (window:keydown)="onKey($event)">
      <tr *ngFor="let row of crossword.grid">
        <td *ngFor="let cell of row" class="cell">
          <div *ngIf="cell" class="tile" [ngClass]="{'selected': isSelected(cell), 'highlight': isHighlighted(cell), 'success': isSuccess(cell)}"
               (click)="onCellClick($event, cell)">
            <span class="clue" *ngIf="cell.clue">{{cell.clue}}</span>
            <span class="value">{{cell.value}}</span>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <div *ngIf="snackbarActive" class="mdl-js-snackbar mdl-snackbar mdl-snackbar--active animated {{snackbarStyle}}">
    <div class="mdl-snackbar__text">{{snackbarText}}</div>
    <button class="mdl-snackbar__action" type="button" (click)="hideQuestion();$event.stopPropagation();">Скрыть</button>
  </div>
</section>
