@import "../../../../resources/config/colors";

.crossword {
	&__puzzle {
		margin-top: 25px;
		margin-bottom: 25px;
	}
	&__letter-row {

	}

	&__letter-cell {
		width: 25px;
		height: 25px;
		text-align: center;
		border: 1px solid rgba($c-purple, .5);

		&.empty,
		&.empty-fill {
			background-color: rgba($c-purple, .5);
		}

		&.fillable {
			background-color: $ui-white;
		}
	}
}

