<div class="crossword__puzzle">
    <div *ngIf="!_matrix">
        <app-loading-spinner></app-loading-spinner>
    </div>
    <table *ngIf="_matrix && _numbersTall && _numbersWide">
        <tr *ngFor="let nT of _numbersTall; let i = index" class="crossword__letter-row">
            <td *ngFor="let nW of _numbersWide; let j = index" class="crossword__letter-cell" [ngClass]="{'fillable': _matrix[i][j] && _matrix[i][j] != ' ', 'empty-fill': _matrix[i][j] === ' ', 'empty': !_matrix[i][j]}">
                <span *ngIf="_matrix[i][j] && authService.isTeacher">
                     {{_matrix[i][j]}}
                </span>

            </td>
        </tr>
    </table>
</div>

<div *ngIf="_matrix" class="crossword__lists">
    <div class="row row-of-two">
        <div *ngIf="_clueListAcross">
            <p>Horizontaal</p>
            <div *ngFor="let item of _clueListAcross; let i = index">
                <p> {{i + 1}}. {{item.clue}}</p>
            </div>
        </div>
        <div *ngIf="_clueListDown">
            <p>Verticaal</p>
            <div *ngFor="let item of _clueListDown; let i = index">
                <p> {{i + 1}}. {{item.clue}}</p>
            </div>
        </div>
    </div>
</div>
 


<div *ngIf="authService.isStudent" class="crossword__form">

    <div class="short-margin">

        <p id="position-and-clue"></p>

        <div>Answer :
            <input id="solution-answer" type="text" size="40">
        </div>

        <p id="answer-results" class="hidden"></p>

        <div class="row">
            <app-button
                    [label]="'Annuleren'"
                    (onClick)="cancelSolve()"
                    [class]="'is-ghost'"
            ></app-button>
            <app-button
                    [label]="'Antwoord'"
                    (onClick)="answerClue()"
            ></app-button>
        </div>

    </div>

</div>
