<div id="lists" class="lists">

    <table>

        <tr>
            <td width="50%" id="left-list" valign="top" class="list-text">

                    <p>Across</p>

            </td>
            <td width="50%" id="right-list" valign="top" class="list-text">
                   <p>Down</p>
            </td>
        </tr>

    </table>

</div>



<div *ngIf="authService.isStudent" id="answer-form">

    <div class="short-margin">

        <p id="position-and-clue"></p>

        <p>Answer : <input id="solution-answer" type="text" size="40"></p>

        <p id="answer-results" class="hidden"></p>

        <div class="row">
            <app-button
                    [label]="'Annuleren'"
                    (onClick)="cancelSolve()"
                    [class]="'is-ghost'"
            ></app-button>
            <app-button
                    [label]="'Antwoord'"
                    (onClick)="answerClue()"
            ></app-button>
        </div>

    </div>

</div>
