@import "../../../../resources/config/colors";

.crossword {
	&__puzzle {
		display: flex;
		justify-content: center;
		margin: 25px auto;
	}

	&__letter-row {

	}

	&__letter-cell {
		width: 30px;
		height: 30px;
		text-align: center;
		border: 1px solid $c-purple;

		&.empty,
		&.empty-fill {
			background-color: transparent;
			border: none;
		}

		&.fillable {
			background-color: $ui-white;
		}
	}
}

.row-of-two {
	align-items: flex-start;
	justify-content: flex-start;
}

