@import "../../../resources/config/variables";
@import "../../../resources/config/base";
@import "../../../resources/text/typography";
@import "../../../resources/components/button";

.grid {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;

    &__item {
        width: calc(50% - 30px);
        margin: 15px;
    }

    &__image {

    }

    &__link {

    }

    &__content {

    }

    &__title {
        font-size: 18px;
    }

    &__actions {

    }

}
