<div class="component">
    <div class="row">
        <div class="component__heading row">
            <h1 class="component__title">
                <a class="component__breadcrumb" routerLink="/teacher/classes">klassen</a>
            </h1>
            <app-icon
                    [class]="'chevron-right'"></app-icon>
            <h2 *ngIf="class" class="component__subtitle">
                klas {{class.name}} - {{class.date}}
            </h2>
        </div>
        <app-button-link
                [label]="'voeg een leerling toe'"
                [link]="link"
                [class]="'is-ghost'"
        ></app-button-link>
    </div>
    <div class="component__content">
        <app-students-list></app-students-list>
    </div>
</div>
