<div class="list">
    <div class="list__heading row">
        <div class="list__heading__number">
            nr
        </div>
        <div class="list__heading__label">
            naam
        </div>
        <div class="list__heading__actions">
            acties
        </div>
    </div>

    <div class="list__items">
        <app-student-item
            *ngFor="let student of (students$ | async); let i = index"
            [student]="student"
            [index]="i"
        ></app-student-item>
    </div>
</div>
