@import "../../../resources/config/colors";
@import "../../../resources/config/variables";

.colorrow {
	position: fixed;
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;

	&.bottom {
		top: -10px;
	}

	&.top {
		top: 0;
	}

	&.is-hidden {
		@media screen and (min-width: $breakpoint-tablet) {
			display: none;
		}
	}

	.is-blue, .is-pink, .is-green, .is-orange {
		content: "";

		position: absolute;
		z-index: 9999;

		width: calc(100% / 4);
		height: 10px;

		background-color: transparent;
	}

	.is-blue {
		left: 0;
		right: 0;
		background-color: $c-blue;
	}
	.is-orange {
		left: calc(100% / 4);
		right: 0;
		background-color: $c-orange;
	}

	.is-pink {
		left: calc((100% / 4) * 2);
		right: 0;
		background-color: $c-pink;
	}

	.is-green {
		left: calc((100% / 4) * 3);
		right: 0;
		background-color: $c-green;
	}
}

