@import "../../resources/config/colors";
@import "../../resources/config/typography";

.form {
	&__group {
		width: 100%;
	}

	&__select {
		width: 100%;
	}

	.select-group {
		margin-bottom: 50px;
	}
}
