@import "typography";
@import "variables";

* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 10px;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    @include font-base;
}

.ctn-image {
    img {
        width: 100%;
        height: auto;
    }
}

.icon-svg {
    fill: currentColor;
    width: $spacing-l;
}

h1 {
    @include font-heading;
}

.ctn-svg {
    svg {
        width: 100%;
    }
}
