/* UI COLORS */
$ui-white: #ffffff;
$ui-white-grey: #E1E7ED;
$ui-light-grey: #C1C7D2;
$ui-medium-grey: #99A3B0;
$ui-dark-grey: #525B65;
$ui-black: #333943;

/* TODO: welke kleuren gaan we gebruiken ??*/
$dark-red: #D12C42;
$light-red: #E63B51;

$dark-blue: #3174BA;
$light-blue: #4988C8;

$dark-yellow: #F6AB2C;
$light-yellow: #FFC23E;

$dark-orange: #E43E2D;
$light-orange: #ED5540;

$dark-purple: #7368AC;
$light-purple: #8C7FBA;

$dark-green: #87B63C;
$light-green: #9CC552;

$dark-pink: #C8599D;
$light-pink: #DD73AA;

$dark-green-blue: #3AAF89;
$light-green-blue: #53B697;
