/* UI COLORS */
$ui-white: #ffffff;
$ui-white-grey: #E1E7ED;
$ui-light-grey: #C1C7D2;
$ui-medium-grey: #99A3B0;
$ui-dark-grey: #525B65;
$ui-black: #333943;

/* Kleuren*/
$c-pink: #E93081;
$c-green: #A2C72D;
$c-orange: #F49200;
$c-darkgreen: #158F41;
$c-blue: #2AB9CB;
$c-yellow:  #FFEF00;
$c-purple:  #3D2F82;
$c-bordeaux: #9E1779;
