<div *ngIf="material" class="item row" >
  <div class="item__number">
    {{index + 1}}
  </div>
  <a class="item__label is-link" [routerLink]="_fullLink">
    {{material.title}}
  </a>

  <div class="item__actions actions row">

    <a class="actions__edit" [routerLink]="['/teacher/courses/editmaterial', material.id]" routerLinkActive="active">
      <app-icon
              [class]="'edit'"
      ></app-icon>
    </a>

    <button class="actions__delete">
      <app-icon
              [class]="'delete'"
      ></app-icon>
    </button>

  </div>

</div>
