<div class="component">
    <div class="row">
        <div class="component__heading row">
            <h1 class="component__title" *ngIf="_course">
                <a class="component__breadcrumb" [routerLink]="['/teacher/courses/detail', _courseid]">
                    {{_course.name}}
                </a>
            </h1>
            <app-icon
                    [class]="'chevron-right'"></app-icon>
            <h2 *ngIf="_material" class="component__subtitle">
                 {{_material.title}}
            </h2>
        </div>
        <div>
            <app-button-link
                    [label]="'nieuwe opdracht'"
                    [link]="_link"
                    [class]="'is-ghost'"
            ></app-button-link>
        </div>
    </div>
    <div class="component__content">
        <app-exercise *ngFor="let exercise of (exercises$ | async); let i = index"
            [index]="i"
            [exercise]="exercise"
        ></app-exercise>
    </div>
</div>
