@import "../../../resources/config/colors";
@import "../_inputfield";
@import "../../components/button/button.component";

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	width: 100%;
	height: 100vh;
}

.panel {
	width: 90%;
	max-width: 760px;
	padding: 10px;
	border: none; //overriding panel.less
	box-shadow: none; //overriding panel.less

	&__heading {
		margin-bottom: 40px;
	}
}
