<main class="container">
    <div class="panel">
        <h1 class="panel__heading">
            Aanmelden
        </h1>

        <form #authForm="ngForm" class="form panel__body" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
            <div class="form__group">
                <label for="email" class="form__label">Email</label>
                <input
                        ngModel
                        type="email"
                        id="email"
                        name="email"
                        class="form__input"
                        autofocus
                        required
                >
            </div>

            <div class="form__group">
                <label for="password" class="form__label">Wachtwoord</label>
                <input
                        ngModel
                        type="password"
                        id="password"
                        name="password"
                        class="form__input"
                        required
                        minlength="6"
                >
            </div>

            <div class="form__actions row">
                <app-button-link
                        [label]="'annuleer'"
                        [link]="'/index'"
                        [class]="'is-ghost'"
                ></app-button-link>

                <button
                        type="submit"
                        class="button"
                        [disabled]="!authForm.valid"
                >
                    Aanmelden
                </button>
            </div>
        </form>
        <div *ngIf="isLoading">
            <app-loading-spinner></app-loading-spinner>
        </div>
    </div>
</main>
