<main class="container">
  <form class="form">
    <div class="form__group">
      <label for="name">Email</label>
      <input
              type="text"
              id="name"
              name="name"
              class="form__input"
              #mailInput
      >
    </div>

    <div class="form__group">
      <label for="date">Wachtwoord</label>
      <input
              type="text"
              id="date"
              name="date"
              class="form__input"
              #passwordInput
      >
    </div>

    <div class="row">
      <button  routerLink="/index" class="btn is-cancel" type="submit">Annuleer</button>
      <button class="btn is-submit" type="submit">Aanmelden</button>
    </div>
  </form>
</main>
