<div class="component">
    <div class="row">
        <div class="component__heading row">
            <h1 class="component__title" *ngIf="material">
                <a class="component__breadcrumb" routerLink="/teacher/classes">
                    {{ material.title }}
                </a>
            </h1>
            <app-icon
                    [class]="'chevron-right'"
            ></app-icon>
            <h2 class="component__subtitle">
                nieuwe opdracht toevoegen
            </h2>
        </div>
    </div>

    <div class="component__content">
        <form #authForm="ngForm" class="form panel__body" (ngSubmit)="onSubmit(authForm)">
            <div class="form__group">
                <label for="title" class="form__label">
                    Titel van de opdracht <br>
                    <span class="accent"><i>Dit is de hoofdvraag van de opdracht.</i></span>
                </label>

                <input
                        ngModel
                        type="text"
                        id="title"
                        name="title"
                        class="form__input"
                        autofocus
                        required
                        minLength="3"
                >
            </div>

            <mat-form-field class="form__group select-group">
                <label class="form__label">Welke soort opdracht wilt u aanmaken?</label>
                <mat-select
                        ngModel
                        class="form__select"
                        id="type"
                        name="type"
                >
                    <mat-option
                            value="crossword"
                    >
                        Kruiswoordraadsel
                    </mat-option>

                    <mat-option
                            value="multiplechoice"
                    >
                        Meerkeuze vraag
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <div class="form__group">
                <label for="description" class="form__label">Beschrijving van de opdracht</label> <br>
                <input
                        ngModel
                        type="text"
                        id="description"
                        name="description"
                        class="form__input"
                >
            </div>

            <div class="form__actions row">
                <app-button-link
                        [label]="'annuleer'"
                        [link]="link"
                        [class]="'is-ghost'"
                ></app-button-link>

                <app-button
                        [label]="'Maak de opdracht aan'"
                        [type]="'submit'"
                ></app-button>
            </div>

        </form>
    </div>
</div>
