<main class="container">
  <form class="form">
    <div class="form__group">
      <label for="name">Naam</label>
      <input
              type="text"
              id="name"
              name="name"
              class="form__input"
              #nameInput
      >
    </div>

    <div class="form__group">
      <label for="date">Datum</label>
      <input
              type="text"
              id="date"
              name="date"
              class="form__input"
              #dateInput
      >
    </div>

    <div class="row">
      <div class="col-xs-12">
        <button class="btn is-submit" type="submit">Voeg de klasgroep toe</button>
      </div>
    </div>
  </form>
</main>
<p>
  register works!
</p>
