<main class="container">
  <form class="form">
    <div class="form__group">
      <label for="mail">Email</label>
      <input
              type="mail"
              id="mail"
              name="mail"
              class="form__input"
              #mailInput
      >
    </div>

    <div class="form__group">
      <label for="password">Wachtwoord</label>
      <input
              type="text"
              id="password"
              name="date"
              class="form__input"
              #passwordInput
      >
    </div>

    <div class="form__group">
      <label for="conformation">Wachtwoord bevestigen</label>
      <input
              type="text"
              id="conformation"
              name="date"
              class="form__input"
              #confirmationInput
      >
    </div>

    <div class="row">
      <div class="col-xs-12">
        <button class="btn is-submit" type="submit">Registreer</button>
      </div>
    </div>
  </form>
</main>
