<main class="container">
  <div class="panel">
    <h1 class="panel__heading">
      Registreren
    </h1>

    <form class="form panel__body">
      <div class="form__group">
        <label for="mail" class="form__label">Email</label>
        <input
                type="mail"
                id="mail"
                name="mail"
                class="form__input"
                #mailInput
        >
      </div>

      <div class="form__group">
        <label for="password" class="form__label">Wachtwoord</label>
        <input
                type="text"
                id="password"
                name="date"
                class="form__input"
                #passwordInput
        >
      </div>

      <div class="form__group">
        <label for="conformation" class="form__label">Wachtwoord bevestigen</label>
        <input
                type="text"
                id="conformation"
                name="date"
                class="form__input"
                #confirmationInput
        >
      </div>

      <div class="form__actions row">
        <app-button-link
                [label]="'annuleer'"
                [link]="'/index'"
                [class]="'is-ghost'"
        ></app-button-link>

        <app-button
                [label]="'Aanmelden'"
                [type]="'submit'"
        ></app-button>
      </div>
    </form>
  </div>

</main>
