@import "../../resources/config/colors";
@import "../../resources/config/variables";
@import "../../resources/config/typography";
@import "../../resources/layout/container";

.header {
    position: relative;
    margin: 0 auto;
    max-width: 1200px;

    &__logo {
        width: calc(80% - 100px);
        position: absolute;
        right: 100px;
        top: calc(100vh - 600px);

        svg {
            width: 100%;
        }
    }

    &__text {
        max-width: 750px;
        text-align: right;
        position: absolute;
        right: 100px;
        top: calc(100vh - 470px);
        @include font-heading;
        font-size: 30px;
        text-transform: lowercase;
        color: $c-bordeaux;
    }
}

.row-of--4 {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $breakpoint-tablet) {
        flex-direction: row;
        align-items: stretch;
        justify-content: stretch;
        margin: calc(100vh - 200px) auto 0;
        max-width: 1200px;
    }

    * {
        width: 100%;

        @media screen and (min-width: $breakpoint-tablet) {
            width: calc(100%/4);
        }
    }


}
