@import "../../../resources/config/variables";
@import "../../../resources/config/colors";
@import "../../../resources/config/typography";

.navigation {
	/* Positioning */
	width: 100%;
	position: fixed;
	bottom: 0;
	z-index: 999;

	/* Color */
	background-color: $ui-white;
	/* Text */
	font-size: 20px;
	text-transform: lowercase;
	/* other */
	border-top: 1px solid $c-purple;
	overflow: hidden;

	@media screen and (min-width: $breakpoint-tablet) {
		width: 300px;
		position: relative;
		border: none;
		background-color: transparent;
	}

	&__bar {
		/* Positioning */
		width: 100%;
		/* Display & Box Model */
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		/* Color */
		/* Text */
		/* other */
		list-style: none;

		@media screen and (min-width: $breakpoint-tablet) {
			flex-direction: column;
			justify-content: start;
			align-items: flex-start;
		}
	}

	&__item {
		/* Positioning */
		/* Display & Box Model */
		padding: $spacing-m;
		margin-top: $spacing-m;
		@include font-heading;
		/* Color */
		/* Text */
		/* other */

		&:first-child {
			margin-right: 8%;

			@media screen and (min-width: $breakpoint-tablet) {
				margin-right: 0;
			}
		}

		&:last-child {
			margin-left: 8%;

			@media screen and (min-width: $breakpoint-tablet) {
				margin-left: 0;
			}
		}
	}

	&__link {
		/* Positioning */
		/* Display & Box Model */
		display: block;
		padding-bottom: 5px;
		width: 100%;
		height: 100%;
		/* Color */
		color: $ui-black;
		/* Text */
		text-decoration: none;
		/* other */

		&:hover,
		&:focus {
			@include font-base--medium;
			font-size: 25px;
			color: $c-purple;
		}

		&.active {
			@include font-base--medium;
			font-size: 25px;
		}
	}

	&.is-active {
		border-bottom: 1px solid $ui-white;
	}

	.link {
		&:hover {
			cursor: pointer;
		}

		&__text {
			display: none;

			@media screen and (min-width: $breakpoint-tablet) {
				display: block;
			}
		}

		&__icon {
			height: 30px;

			&:hover,
			&:focus {
				svg {
					stroke-width: 2.5px;
				}
			}

			@media screen and (min-width: $breakpoint-tablet) {
				display: none;
			}

			svg {
				height: 100%;
				width: auto;
			}
		}
	}
}
