@import "../../../resources/config/colors";

.footer {
	margin: 10px auto;
	max-width: 960px;
	padding: 50px 0 10px 0;

	border-top: 1px solid rgba($ui-black, .2);

	&__column {
		width: calc(100% / 4);

		&.is-logo {
			text-align: center;
		}
	}

	&__nav {
		display: flex;
		padding-bottom: 50px;

		&__list {
			list-style: none;
		}

		&__item {
			margin-left: 10px;
		}

		&__link {
			color: $c-purple;
		}
	}

	&__closure {
		display: flex;
		justify-content: end;
	}

	&__primary {
		flex-grow: 1;
	}
	&__secondary {
		&.link {
			color: $ui-black;
			margin-left: 10px;
			margin-right: 10px;
		}
	}
}
