@import "../../../resources/config/colors";
@import "../../../resources/config/typography";

.testimonial {
    @include font-base;

    display: flex;
    align-items: stretch;

    padding: 50px 100px;

    &--wrapper {
        margin-top: 120px;
    }

    &__title {
        @include font-heading;

        text-align: center;
        margin-bottom: 50px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;

        text-decoration: none;
        color: $ui-black;

        font-weight: 100;
        width: calc(100% / 3);
        padding: 20px;
        margin: 10px;

        transition: box-shadow .2s ease-in-out, transform .2s ease-in-out;

        &:hover,
        &:focus {
            background-color: $ui-white;
            box-shadow: 0 5px 10px 0 rgba(#000000, .1);
            transform: translateY(-1px);
        }
    }

    &__icon {
        @include font-heading;

        color: $c-pink;
        text-align: center;
        font-size: 80px;
    }

    &__text {
        text-align: center;
    }

    &__user {
        text-align: center;
    }
}

.user {
    &__name {
        text-transform: uppercase;
        margin-top: 20px;
    }

    &__function {
        text-transform: uppercase;
        margin-top: 10px;
    }
}
