<div class="testimonial--wrapper">
  <h2 class="testimonial__title">
    lees de getuigenissen
  </h2>
  <div class="testimonial">
    <div class="testimonial__item">
      <div class="testimonial__icon"> " </div>
      <div class="testimonial__text">
        Mijn school heeft afgelopen jaar heel wat tablets aangekocht. De leerlingen waren laaiend enthousiast, maar jammer
        genoeg hadden wij nog geen idee hoe we deze konden integreren in onze lessen. Mijn vakgroep en ik kwamen uit op digibooks.
        Leerlingen en leerkrachten waren er direct mee weg. <br> Een echte aanrader!
      </div>
      <div class="testimonial__user user">
        <div class="user__name">- Katrien Dooms -</div>
        <div class="user__function">Leerkracht geschiedenis</div>
      </div>
    </div>

    <div class="testimonial__item">
      <div class="testimonial__icon"> " </div>
      <div class="testimonial__text">
        Infosessies, cursussen en handleidingen. Digibooks voorziet ze allemaal! Zo kan elke leerkracht aan de slag en zijn of haar lessen
        digotaliseren. Geweldig! <br> Bedankt voor de goede ondersteuining!
      </div>
      <div class="testimonial__user user">
        <div class="user__name">- Michel Van den Boeck -</div>
        <div class="user__function">Directeur St-Peterscollege</div>
      </div>
    </div>

    <div class="testimonial__item">
      <div class="testimonial__icon"> " </div>
      <div class="testimonial__text">
        Mijn vakgroep en ik hadden graag de lessen wat leuker en hedendaagser gemaakt. Na een infosessie hebben we gekozen voor digibooks.
        Naast de vele mogelijkheden, was er ook de goede support die ons overtuigd hebben.
      </div>
      <div class="testimonial__user user">
        <div class="user__name">- Jan Peeters -</div>
        <div class="user__function">Hoofdvakgroep Nederlands</div>
      </div>
    </div>
  </div>
</div>
