<div class="testimonial">
  <div class="testimonial__item">
    <div class="testimonial__icon"> " </div>
    <div class="testimonial__text">
      Pie pie chocolate tart dessert. Soufflé tart cake chocolate bar.
      Cheesecake pudding sweet roll apple pie toffee sesame snaps cheesecake lemon drops.
      Jelly beans dragée bear claw. Bonbon apple pie toffee sugar plum tart fruitcake croissant.
    </div>
    <div class="testimonial__user user">
      <div class="user__name">naam naam</div>
      <div class="user__function">functie</div>
    </div>
  </div>
</div>
