* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 10px;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

body {
    min-height: 100vh !important;
    display: flex !important;
    flex-direction: column !important;
    font-size: 1.6rem !important;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 400 !important;
}

body > * {
    flex-grow: 1;
}

main {
    flex-grow: 1;
}

img {
    width: 100%;
    height: auto;
}

h1, h2 {
    font-family: 'Nunito', sans-serif !important;
    font-weight: 400 !important;
    text-transform: lowercase !important;
}

.row {
    display: flex;
    align-items: center;
    margin: 0 !important;
}
