
<div class="pricing">
  <h2 class="pricing__title">
    Kies nu jouw pakket
  </h2>
  <div class="pricing__wrapper">
    <a class="pricing__item">
      <div class="pricing__label">
        Persoonlijk
      </div>

      <div class="pricing__price">
        € 80
      </div>

      <div class="pricing__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Adipiscing elit duis tristique
        sollicitudin nibh sit amet. Ornare suspendisse sed nisi lacus sed viverra tellus.
        Pellentesque elit eget gravida cum sociis natoque.
      </div>
    </a>
    <a class="pricing__item">
      <div class="pricing__label">
        Vakgroep
      </div>

      <div class="pricing__price">
        € 160
      </div>

      <div class="pricing__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Adipiscing elit duis tristique
        sollicitudin nibh sit amet. Ornare suspendisse sed nisi lacus sed viverra tellus.
        Pellentesque elit eget gravida cum sociis natoque.
      </div>
    </a>
    <a class="pricing__item">
      <div class="pricing__label">
        school
      </div>

      <div class="pricing__price">
        € 500
      </div>

      <div class="pricing__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Adipiscing elit duis tristique
        sollicitudin nibh sit amet. Ornare suspendisse sed nisi lacus sed viverra tellus.
        Pellentesque elit eget gravida cum sociis natoque.
      </div>
    </a>
  </div>
  
</div>
