
<div class="pricing">
  <h2 class="pricing__title">
    Kies nu jouw pakket
  </h2>
  <div class="pricing__wrapper">


    <a class="pricing__item" routerLink="/register">
      <div class="pricing__label">
        Persoonlijk
      </div>

      <div class="pricing__price">
        € 50
      </div>

      <div class="pricing__description">
        Het perfecte abonnement voor een leerkracht met twee vakken en een max van 50 leerlingen.
      </div>
    </a>


    <a class="pricing__item" routerLink="/register">
      <div class="pricing__label">
        Vakgroep
      </div>

      <div class="pricing__price">
        € 149
      </div>

      <div class="pricing__description">
        Ideaal voor een vakgroep die de lessen interessanter en actiever wil aanpakken. <br>
        Maximum 6 leerkrachten per vakgroep en met een minimum van 60 leerlingen
      </div>
    </a>


    <a class="pricing__item" routerLink="/register">
      <div class="pricing__label">
        school
      </div>

      <div class="pricing__price">
        € 500
      </div>

      <div class="pricing__description">
        Het abonnement voor een school of meerdere leerkrachten die graag hun lessen willen digitaliseren. <br>
        Minimum 6 leerkrachten met min. 5 vakken en een minimum van 200 leerlingen.
      </div>

      <div class="pricing__extra">
        Prijs wordt berekend.
      </div>
    </a>


  </div>
  
</div>
