@import "typography";

* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 10px;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    @include font-base;
}

.ctn-image {
    img {
        width: 100%;
        height: auto;
    }
}

.icon-svg {
    fill: currentColor;
    width: $spacing-l;
}

.l-main {
    max-width: 1200px;
    margin: auto;
}

h1 {
    @include font-heading;
}
