* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 10px;
    -webkit-font-smoothing: antialiased;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    font-family: 'Fira Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-weight: 300;
}

.ctn-image {
    img {
        width: 100%;
        height: auto;
    }
}


.icon-svg {
    fill: currentColor;
    width: $spacing-l;
}
