$breakpoint-mobile: 420px;
$breakpoint-tablet-small: 640px;
$breakpoint-tablet: 768px;
$breakpoint-desktop-small: 960px;
$breakpoint-desktop: 1280px;
$breakpoint-desktop-large: 1440px;
$breakpoint-desktop-extra-large: 1600px;

$ui-white: #ffffff;
$ui-black: #000000;
$dark-color: #11255f;
$light-color: #218bc5;

$spacing-s: .5rem;
$spacing-m: 1rem;
$spacing-l: 1.5rem;
