<header>
  <nav class="is-dark">
    <div class="logo">
      <a routerLink="/index" routerLinkActive="active"> <img src="https://via.placeholder.com/30" alt="logo"></a>
    </div>
    <ul class="navbar clearfix">
      <li>
        <a routerLink="/courses" routerLinkActive="active">Vakken</a>
      </li>
      <li>
        <a routerLink="/classes" routerLinkActive="active">Klassen</a>
      </li>
      <li>
        <a routerLink="/materials" routerLinkActive="active">Materiaal</a>
      </li>
    </ul>
  </nav>
</header>
