@import "../../../resources/config/variables";
@import "../../../resources/config/colors";
@import "../../../resources/config/base";
@import "../../../resources/config/typography";

.sidebar {
    @media screen and (min-width: $breakpoint-tablet) {
        /* Positioning */
        position: fixed;
        top: 50px;
        bottom: 50px;
        left: 0;
        width: 300px;
        /* Display & Box Model */
        display: flex;
        flex-flow: column nowrap;
        /* Color */
        /* Text */
        /* other */
        border-right: 1px solid $ui-light-grey;
    }
}

.header {
    @media screen and (min-width: $breakpoint-tablet) {
        padding: 30px;
    }

    &__content {
        display: none;

        @media screen and (min-width: $breakpoint-tablet) {
            display: block;
            margin: 30px 0;
            padding: 30px 0;
            border-bottom: 1px solid $ui-light-grey;
        }
    }

    &__text {
        color: $ui-black;
        @include font-heading;
        font-size: 20px;
        text-align: center;
    }

    &__image {
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 10px;

        img {
            width: 70%;
            margin: 0 auto;
            border-radius: 50%;
        }
    }
}
