@import "../../../assets/config/variables";
@import "../../../assets/config/base";
@import "../../../assets/config/typography";
@import "../../../assets/config/button";

.header {
    /* Positioning */
    position: relative;
    /* Display & Box Model */
    padding: $spacing-m;
    /* Color */
    background-color: $dark-color;
    color: $ui-white;
    /* Text */
    /* other */
}

.navigation {
    /* Positioning */
    /* Display & Box Model */
    display: flex;
    flex-direction: row;

    /* Color */
    /* Text */
    /* other */


    &__logo {
        /* Positioning */
        /* Display & Box Model */
        flex-grow: 1;
        /* Color */
        /* Text */
        /* other */

        @media (min-width: $breakpoint-tablet) {
            flex-grow: 0;
        }
    }

    &__bar {
        /* Positioning */
        /* Display & Box Model */
        display: none;
        /* Color */
        /* Text */
        /* other */
        list-style: none;

        @media (min-width: $breakpoint-tablet) {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__item {
        /* Positioning */
        /* Display & Box Model */
        padding: $spacing-m;
        /* Color */
        /* Text */
        /* other */

        @media (min-width: $breakpoint-tablet) {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__link {
        /* Positioning */
        /* Display & Box Model */
        /* Color */
        color: $ui-white;
        /* Text */
        text-decoration: none;
        /* other */
    }

    &__icon {
        display: block;
        margin: 0 $spacing-m 0 0;

        @media (min-width: $breakpoint-tablet) {
            display: none;
        }
    }
}

.show {
    /* Positioning */
    position: absolute;
    top: 5.1rem;
    left: 0;
    right: 0;
    /* Display & Box Model */
    display: flex;
    flex-direction: column;
    /* Color */
    /* Text */
    /* other */

    .navigation__item {
        /* Positioning */
        /* Display & Box Model */
        /* Color */
        background-color: $dark-color;
        /* Text */
        /* other */
        border-bottom: 1px solid $ui-white;
    }
}
